body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  
  
}

.root {
  align-items: center;
  margin: 0 auto;
  width: 343px;
}
a{
  color: white;
  text-decoration: none;
}